@import "variables/colors";
@import "variables/sizes";

@import "partials/example";

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "adobe-clean", sans-serif;
    color: $font-default-color;
    background: $background-default-color;
    height: 100%;
}

section {
    background-color: $background-section-color;
    padding: $big-padding;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

.text-centered {
    text-align: center;
}
